In [1]:
#Khai báo thư viện 
import pandas as pd

In [81]:
#Đọc bộ dữ liệu
data_path = 'D:\\DA\\PhantichdulieuPython\\Tongquan\\'
data_name = 'subset-covid-data.csv'

df = pd.read_csv(data_path + data_name, encoding = 'unicode_escape')

In [82]:
#Xem bộ dữ liệu
df.head()

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [57]:
#Xem số dòng, số cột và kiểu dữ kiệu
print('Data có {} dòng, {} cột'.format(df.shape[0], df.shape[1]))
print('Kiểu dữ liệu của từng thuộc tính trong Data \n{} '.format(df.dtypes))

Data có 206 dòng, 10 cột
Kiểu dữ liệu của từng thuộc tính trong Data
country          object
continent        object
date             object
day               int64
month             int64
year              int64
cases             int64
deaths            int64
country_code     object
population      float64
dtype: object

- Liệu các quốc gia có số lượng ca mắc mới trong ngày 12-4-2020 giống nhau hay không

In [58]:
#Tìm hiểu xem dữ liệu được thống kê cho những ngày nào
df.date.value_counts()

date
2020-04-12    204
2020-01-18      1
2020-04-11      1
Name: count, dtype: int64

In [59]:
#lọc dữ liệu nhiễu
cleaned_data = df[df.date == '2020-04-12']

In [60]:
print('Trung bình số ca mắc mới trong ngày 12-4-2020: ', str(cleaned_data.cases.mean()))
print('Trung vị số ca mắc mới trong ngày 12-4-2020: ', str(cleaned_data.cases.median()))

Trung bình số ca mắc mới trong ngày 12-4-2020:  376.8186274509804
Trung vị số ca mắc mới trong ngày 12-4-2020:  11.5

-> Trung bình số ca mắc mới rất lớn so với trung vị, vì thế sẽ có một vài quốc gia có số ca mắc mới lớn hơn so với các quốc gia khác

- Tổng số lượng người mắc bệnh của từng châu lục

In [61]:
sum_cases_continent = cleaned_data.groupby(['continent'])['cases'].sum().reset_index()
print('Tổng số lượng người mắc bệnh của từng châu lục:')
sum_cases_continent

Tổng số lượng người mắc bệnh của từng châu lục:

  continent  cases
0    Africa    714
1   America  33519
2      Asia  12979
3    Europe  29591
4   Oceania     68

- Top 5 quốc gia có số lượng ca mắc mới lớn nhất

In [85]:
print('Top 5 quốc gia có số lượng ca mắc mới lớn nhất: ')
top_5_cases_lagest = df.cases.nlargest()
top_5_cases_lagest

Top 5 quốc gia có số lượng ca mắc mới lớn nhất:

198    28391
195     8719
190     5138
98      4694
177     4550
Name: cases, dtype: int64

In [73]:
print ("5 quốc gia có số ca nhiễm mới cao nhất")
df = df.sort_values('cases',ascending = False)
df.head(5)

5 quốc gia có số ca nhiễm mới cao nhất

,country,continent,date,day,month,year,cases,deaths,country_code,population
198,United_States_of_America,America,2020-04-12,12,4,2020,28391,1831,USA,327167434.0
195,United_Kingdom,Europe,2020-04-12,12,4,2020,8719,839,GBR,66488991.0
190,Turkey,Asia,2020-04-12,12,4,2020,5138,95,TUR,82319724.0
98,Italy,Europe,2020-04-12,12,4,2020,4694,619,ITA,60431283.0
177,Spain,Europe,2020-04-11,11,4,2020,4550,605,ESP,46723749.0

- Tổng số lượng ca tử vong của từng châu lục

In [63]:
sum_cases_continent = cleaned_data.groupby(['continent'])['cases'].sum().reset_index()
print('Tổng số lượng ca tử vong của từng châu lục:')
sum_cases_continent

Tổng số lượng ca tử vong của từng châu lục:

  continent  cases
0    Africa    714
1   America  33519
2      Asia  12979
3    Europe  29591
4   Oceania     68

- Top 5 quốc gia có số lượng ca tử vong lớn nhất

In [87]:
print ("5 quốc gia có số ca tử vong cao nhất")
df = df.sort_values('deaths',ascending = False)
df.head(5)

5 quốc gia có số ca tử vong cao nhất

,country,continent,date,day,month,year,cases,deaths,country_code,population
198,United_States_of_America,America,2020-04-12,12,4,2020,28391,1831,USA,327167434.0
195,United_Kingdom,Europe,2020-04-12,12,4,2020,8719,839,GBR,66488991.0
69,France,Europe,2020-04-12,12,4,2020,3114,635,FRA,66987244.0
98,Italy,Europe,2020-04-12,12,4,2020,4694,619,ITA,60431283.0
177,Spain,Europe,2020-04-11,11,4,2020,4550,605,ESP,46723749.0