In [1]:
import pandas as pd

In [5]:
data_path = 'D:\\DA\\PhantichdulieuPython\\data\\'
data_name = 'OnlineRetail.csv'

df = pd.read_csv(data_path + data_name, encoding = 'unicode_escape')

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [19]:
#Tiền xử lý dữ liệu
#Cập nhật kiểu dữ liệu thuộc tính 'InvoiceDate' về kiểu Datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [23]:
df['InvoiceDate'].dtypes

dtype('<M8[ns]')

- Công ty bán hàng do bao nhiêu nước sản xuất

In [31]:
sum_country = df.Country.nunique()
print('Công ty bán hàng của {} nước sản xuất'.format(sum_country))

Công ty bán hàng của 38 nước sản xuất

- Tổng số lượng đơn hàng bán ra, tổng doanh thu

In [36]:
sum_invoice = df.InvoiceNo.nunique()
revenue = df['Quantity'] * df['UnitPrice']
total_revenue = revenue.sum()

print('Tổng số lượng đơn hàng bán ra: ',sum_invoice)
print('Tổng doanh thu: ',total_revenue)

Tổng số lượng đơn hàng bán ra:  25900
Tổng doanh thu:  9747747.933999998

- Top 10 mặt hàng có số lượng bán ra lớn nhất

In [ ]:
quantity_product = data.groupby(['StockCode', 'Description'])['Quantity'].sum().sort_values(ascending= False)
quantity_product.head(10)

In [43]:
quantity_product =  df.groupby(['StockCode', 'Description'])['Quantity'].sum()
quantity_product.nlargest(10)

StockCode  Description
84077      WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
85099B     JUMBO BAG RED RETROSPOT               47363
84879      ASSORTED COLOUR BIRD ORNAMENT         36381
22197      POPCORN HOLDER                        36334
21212      PACK OF 72 RETROSPOT CAKE CASES       36039
85123A     WHITE HANGING HEART T-LIGHT HOLDER    35025
23084      RABBIT NIGHT LIGHT                    30680
22492      MINI PAINT SET VINTAGE                26437
22616      PACK OF 12 LONDON TISSUES             26315
21977      PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

- Top 10 mặt hàng có doanh thu lớn nhất

In [46]:
df['total'] = df['Quantity'] * df['UnitPrice']

revenue_product = df.groupby(['StockCode', 'Description'])['total'].sum()
revenue_product.nlargest(10)

StockCode  Description
DOT        DOTCOM POSTAGE                        206245.48
22423      REGENCY CAKESTAND 3 TIER              164762.19
47566      PARTY BUNTING                          98302.98
85123A     WHITE HANGING HEART T-LIGHT HOLDER     97715.99
85099B     JUMBO BAG RED RETROSPOT                92356.03
23084      RABBIT NIGHT LIGHT                     66756.59
POST       POSTAGE                                66230.64
22086      PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
84879      ASSORTED COLOUR BIRD ORNAMENT          58959.73
79321      CHILLI LIGHTS                          53768.06
Name: total, dtype: float64