In [3]:
import pandas as pd

In [13]:
#Đọc bộ dữ liệu
data_path = 'D:\\DA\PhantichdulieuPython\\data\\'
data_name = 'FoodPrice_in_Turkey.csv'

df = pd.read_csv(data_path + data_name, encoding = 'unicode_escape')

- Bộ dữ liệu chứa bao nhiêu dòng, bao nhiêu cột

In [14]:
print('Bộ dữ liệu có {} dòng, {} cột'.format(df.shape[0], df.shape[1]))

Bộ dữ liệu có 7381 dòng, 8 cột

- Thang đo tương ứng của các thuộc tính được lưu trữ

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

- Giá trung bình của từng loại thực phẩm là bao nhiêu

In [17]:
print('Giá trung bình của từng loại thực phẩm: ')
df.groupby(['ProductId'])['Price'].mean().reset_index()

Giá trung bình của từng loại thực phẩm:

    ProductId       Price
0          52    7.950325
1          58    3.253174
2          66    9.572830
3          83    2.297231
4          92    0.505925
5          94    9.683471
6          97    4.482942
7         105   16.610370
8         108    6.651817
9         112    3.496637
10        114    3.393658
11        119   21.832122
12        124    4.463293
13        151   42.468075
14        173    2.141539
15        176    4.137000
16        181    1.723395
17        183   45.557209
18        184    8.755174
19        185    2.048213
20        209   43.295493
21        212    2.900029
22        229    2.392193
23        231    3.274868
24        233    2.206807
25        239   27.274547
26        244   10.347860
27        254    8.224784
28        258    3.516712
29        281   26.224393
30        285    8.592519
31        304    2.468031
32        317    8.085128
33        341   83.976703
34        345    3.885039
35        360    3.124280
36        364    5.364898
37        384    2.404545
38        388    3.411326
39        401   22.698257
40        404    3.240587
41        414   25.522875
42        433   41.270904
43        434    3.882645
44        442  108.287696
45        450    3.837423
46        463    3.679687
47        465   40.548182
48        491    0.513580
49        492    5.434838
50        493    5.384253
51        502   43.802339

- Đề xuất những loại phân tích mà bạn muốn biết mà bộ dữ liệu này có thể cung cấp