In [78]:
#Khai báo thư viện
import pandas as pd
import numpy as np

In [131]:
#Load data
data_path = 'D:\\DA\\PhantichdulieuPython\\data\\'
data_name = 'superstore_dataset_dashboarddesign_clean.csv'
df = pd.read_csv(data_path + data_name, encoding = 'unicode_escape')

In [80]:
df.head()

,Order Date,Order ID,Product Name,Category,City,Country,Customer Name,Discount,Postal Code,Manufacturer,Profit,Profit Ratio,Quantity,Region,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category
0,11/8/2017,CA-2017-152156,Bush Somerset Collection Bookcase,Furniture,Henderson,United States,Claire Gute,0.00,42420.0,Bush,42.0,0.16,2.0,South,262.0,Consumer,11/11/2017,Second Class,Kentucky,Bookcases
1,11/8/2017,CA-2017-152156,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Henderson,United States,Claire Gute,0.00,42420.0,Hon,220.0,0.30,3.0,South,732.0,Consumer,11/11/2017,Second Class,Kentucky,Chairs
2,6/12/2017,CA-2017-138688,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Los Angeles,United States,Darrin Van Huff,0.00,90036.0,Universal,7.0,0.47,2.0,West,15.0,Corporate,6/16/2017,Second Class,California,Labels
3,10/11/2016,US-2016-108966,Bretford CR4500 Series Slim Rectangular Table,Furniture,Fort Lauderdale,United States,Sean O'Donnell,0.45,33311.0,Bretford,-383.0,-0.40,5.0,South,958.0,Consumer,10/18/2016,Standard Class,Florida,Tables
4,10/11/2016,US-2016-108966,Eldon Fold 'N Roll Cart System,Office Supplies,Fort Lauderdale,United States,Sean O'Donnell,0.20,33311.0,Eldon,3.0,0.11,2.0,South,22.0,Consumer,10/18/2016,Standard Class,Florida,Storage

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9994 non-null   object
 1   Order ID       9994 non-null   object
 2   Product Name   9994 non-null   object
 3   Category       9994 non-null   object
 4   City           9994 non-null   object
 5   Country        9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Discount       9994 non-null   float64
 8   Postal Code    9983 non-null   float64
 9   Manufacturer   9994 non-null   object
 10  Profit         9994 non-null   float64
 11  Profit Ratio   9994 non-null   float64
 12  Quantity       9994 non-null   float64
 13  Region         9994 non-null   object
 14  Sales          9994 non-null   float64
 15  Segment        9994 non-null   object
 16  Ship Date      9994 non-null   object
 17  Ship Mode      9994 non-null   object
 18  State          9994 non-null   object
 19  Sub-Category   9994 non-null   object
dtypes: float64(6), object(14)
memory usage: 1.5+ MB

1. Biến đổi kiểu dữ liệu

In [133]:
#Đổi kiểu dữ liệu cho các cột Date
#Tìm các cột có tên thuộc tính chứa date
cols_contain_date = [_ for _ in df.columns.tolist() if 'Date' in _]
cols_contain_date

['Order Date', 'Ship Date']

In [134]:
#Đổi kiểu dữ liệu
for _ in cols_contain_date:
    df[_] = pd.to_datetime(df[_])

In [135]:
#Kiểm tra kiểu dữ liệu
for _ in cols_contain_date:
    print('Column {} has type: {}'.format(_, df[_].dtypes))

Column Order Date has type: datetime64[ns]
Column Ship Date has type: datetime64[ns]

2. Tạo các cột cần thiết

In [136]:
#Tạo thêm cột Year từ trường Order Date
df['Year'] = df['Order Date'].dt.year
df.head(1)

,Order Date,Order ID,Product Name,Category,City,Country,Customer Name,Discount,Postal Code,Manufacturer,...,Profit Ratio,Quantity,Region,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category,Year
0,2017-11-08,CA-2017-152156,Bush Somerset Collection Bookcase,Furniture,Henderson,United States,Claire Gute,0.0,42420.0,Bush,...,0.16,2.0,South,262.0,Consumer,2017-11-11,Second Class,Kentucky,Bookcases,2017

In [137]:
#Tạo cột doanh thu 
df['Revenue'] = df['Quantity'] * df['Sales']
df.head()

,Order Date,Order ID,Product Name,Category,City,Country,Customer Name,Discount,Postal Code,Manufacturer,...,Quantity,Region,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category,Year,Revenue
0,2017-11-08,CA-2017-152156,Bush Somerset Collection Bookcase,Furniture,Henderson,United States,Claire Gute,0.00,42420.0,Bush,...,2.0,South,262.0,Consumer,2017-11-11,Second Class,Kentucky,Bookcases,2017,524.0
1,2017-11-08,CA-2017-152156,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Henderson,United States,Claire Gute,0.00,42420.0,Hon,...,3.0,South,732.0,Consumer,2017-11-11,Second Class,Kentucky,Chairs,2017,2196.0
2,2017-06-12,CA-2017-138688,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Los Angeles,United States,Darrin Van Huff,0.00,90036.0,Universal,...,2.0,West,15.0,Corporate,2017-06-16,Second Class,California,Labels,2017,30.0
3,2016-10-11,US-2016-108966,Bretford CR4500 Series Slim Rectangular Table,Furniture,Fort Lauderdale,United States,Sean O'Donnell,0.45,33311.0,Bretford,...,5.0,South,958.0,Consumer,2016-10-18,Standard Class,Florida,Tables,2016,4790.0
4,2016-10-11,US-2016-108966,Eldon Fold 'N Roll Cart System,Office Supplies,Fort Lauderdale,United States,Sean O'Donnell,0.20,33311.0,Eldon,...,2.0,South,22.0,Consumer,2016-10-18,Standard Class,Florida,Storage,2016,44.0

3. Gom doanh thu sản phẩm theo từng country, region và year

In [138]:
#Sắp xếp theo region và year
df = df.sort_values(by=['Region', 'Year'])
df

,Order Date,Order ID,Product Name,Category,City,Country,Customer Name,Discount,Postal Code,Manufacturer,...,Quantity,Region,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category,Year,Revenue
16,2015-11-11,CA-2015-105893,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",Office Supplies,Madison,United States,Pete Kriz,0.0,53711.0,Other,...,6.0,Central,666.0,Consumer,2015-11-18,Standard Class,Wisconsin,Storage,2015,3996.0
46,2015-10-20,CA-2015-146703,"Gould Plastics 9-Pocket Panel Bin, 18-3/8w x 5...",Office Supplies,Westland,United States,Patrick O'Donnell,0.0,48185.0,Gould Plastics,...,4.0,Central,212.0,Consumer,2015-10-25,Second Class,Michigan,Storage,2015,848.0
78,2015-11-26,US-2015-147606,"Eldon Expressions Desk Accessory, Wood Pencil ...",Furniture,Houston,United States,Joel Eaton,0.6,77070.0,Eldon,...,5.0,Central,19.0,Consumer,2015-12-01,Second Class,Texas,Furnishings,2015,95.0
124,2015-12-26,US-2015-152030,Global Deluxe High-Back Manager's Chair,Furniture,Houston,United States,Alan Dominguez,0.3,77041.0,Global,...,3.0,Central,601.0,Home Office,2015-12-28,Second Class,Texas,Chairs,2015,1803.0
125,2015-09-20,US-2015-134614,Bevis 44 x 96 Conference Tables,Furniture,Bloomington,United States,Philip Fox,0.5,61701.0,Bevis,...,6.0,Central,618.0,Consumer,2015-09-25,Standard Class,Illinois,Tables,2015,3708.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,2018-08-31,CA-2018-107321,Aastra 6757i CT Wireless VoIP phone,Technology,San Francisco,United States,Arthur Wiediger,0.2,94110.0,Other,...,4.0,West,689.0,Home Office,2018-09-04,Standard Class,California,Phones,2018,2756.0
9982,2018-08-28,CA-2018-126067,Anker 24W Portable Micro USB Car Charger,Technology,Seattle,United States,Kristina Nunn,0.2,98105.0,Anker,...,4.0,West,35.0,Home Office,2018-09-03,Standard Class,Washington,Phones,2018,140.0
9986,2018-05-08,CA-2018-133865,Canon Imageclass D680 Copier / Fax,Technology,Los Angeles,United States,Penelope Sewall,0.2,90032.0,Canon,...,6.0,West,3360.0,Home Office,2018-05-12,Standard Class,California,Copiers,2018,20160.0
9992,2018-10-16,CA-2018-159282,Swingline SM12-08 MicroCut Jam Free Shredder,Technology,Yuma,United States,Gary Hansen,0.7,85364.0,Other,...,5.0,West,600.0,Home Office,2018-10-21,Standard Class,Arizona,Machines,2018,3000.0
9993,2018-04-17,CA-2018-134845,Lexmark MX611dhe Monochrome Laser Printer,Technology,Louisville,United States,Sharelle Roach,0.7,80027.0,Other,...,5.0,West,2550.0,Home Office,2018-04-23,Standard Class,Colorado,Machines,2018,12750.0

In [149]:
#Tính số lũy kế
df['Running Total'] = df.groupby(['Region','Year'])['Revenue'].cumsum()
df

,Order Date,Order ID,Product Name,Category,City,Country,Customer Name,Discount,Postal Code,Manufacturer,...,Region,Sales,Segment,Ship Date,Ship Mode,State,Sub-Category,Year,Revenue,Running Total
16,2015-11-11,CA-2015-105893,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",Office Supplies,Madison,United States,Pete Kriz,0.0,53711.0,Other,...,Central,666.0,Consumer,2015-11-18,Standard Class,Wisconsin,Storage,2015,3996.0,3996.0
46,2015-10-20,CA-2015-146703,"Gould Plastics 9-Pocket Panel Bin, 18-3/8w x 5...",Office Supplies,Westland,United States,Patrick O'Donnell,0.0,48185.0,Gould Plastics,...,Central,212.0,Consumer,2015-10-25,Second Class,Michigan,Storage,2015,848.0,4844.0
78,2015-11-26,US-2015-147606,"Eldon Expressions Desk Accessory, Wood Pencil ...",Furniture,Houston,United States,Joel Eaton,0.6,77070.0,Eldon,...,Central,19.0,Consumer,2015-12-01,Second Class,Texas,Furnishings,2015,95.0,4939.0
124,2015-12-26,US-2015-152030,Global Deluxe High-Back Manager's Chair,Furniture,Houston,United States,Alan Dominguez,0.3,77041.0,Global,...,Central,601.0,Home Office,2015-12-28,Second Class,Texas,Chairs,2015,1803.0,6742.0
125,2015-09-20,US-2015-134614,Bevis 44 x 96 Conference Tables,Furniture,Bloomington,United States,Philip Fox,0.5,61701.0,Bevis,...,Central,618.0,Consumer,2015-09-25,Standard Class,Illinois,Tables,2015,3708.0,10450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,2018-08-31,CA-2018-107321,Aastra 6757i CT Wireless VoIP phone,Technology,San Francisco,United States,Arthur Wiediger,0.2,94110.0,Other,...,West,689.0,Home Office,2018-09-04,Standard Class,California,Phones,2018,2756.0,1232868.0
9982,2018-08-28,CA-2018-126067,Anker 24W Portable Micro USB Car Charger,Technology,Seattle,United States,Kristina Nunn,0.2,98105.0,Anker,...,West,35.0,Home Office,2018-09-03,Standard Class,Washington,Phones,2018,140.0,1233008.0
9986,2018-05-08,CA-2018-133865,Canon Imageclass D680 Copier / Fax,Technology,Los Angeles,United States,Penelope Sewall,0.2,90032.0,Canon,...,West,3360.0,Home Office,2018-05-12,Standard Class,California,Copiers,2018,20160.0,1253168.0
9992,2018-10-16,CA-2018-159282,Swingline SM12-08 MicroCut Jam Free Shredder,Technology,Yuma,United States,Gary Hansen,0.7,85364.0,Other,...,West,600.0,Home Office,2018-10-21,Standard Class,Arizona,Machines,2018,3000.0,1256168.0
9993,2018-04-17,CA-2018-134845,Lexmark MX611dhe Monochrome Laser Printer,Technology,Louisville,United States,Sharelle Roach,0.7,80027.0,Other,...,West,2550.0,Home Office,2018-04-23,Standard Class,Colorado,Machines,2018,12750.0,1268918.0

In [159]:
##Kiểm tra
#cond = df[(df['Region'] == 'Central') & (df['Year'] == 2016)]
#total_running_total = cond['Running Total'].sum()
#print(total_running_total)

In [184]:
#Gom nhóm theo region, year 
running_total_by_reg_year = df.groupby(['Country','Region','Year'])['Running Total'].sum().reset_index()
running_total_by_reg_year

          Country   Region  Year  Running Total
0   United States  Central  2015    163032635.0
1   United States  Central  2016    116730546.0
2   United States  Central  2017    246776523.0
3   United States  Central  2018    245924218.0
4   United States     East  2015    167161818.0
5   United States     East  2016    265381179.0
6   United States     East  2017    305251974.0
7   United States     East  2018    448545448.0
8   United States    South  2015     71215554.0
9   United States    South  2016     84557466.0
10  United States    South  2017     97949519.0
11  United States    South  2018    154609409.0
12  United States     West  2015    263517437.0
13  United States     West  2016    206496769.0
14  United States     West  2017    334677177.0
15  United States     West  2018    642868538.0

In [190]:
# Lấy ra các cột cần thiết 
df_selected = running_total_by_reg_year.loc[:, ['Country','Region', 'Year', 'Running Total']]
df_selected

          Country   Region  Year  Running Total
0   United States  Central  2015    163032635.0
1   United States  Central  2016    116730546.0
2   United States  Central  2017    246776523.0
3   United States  Central  2018    245924218.0
4   United States     East  2015    167161818.0
5   United States     East  2016    265381179.0
6   United States     East  2017    305251974.0
7   United States     East  2018    448545448.0
8   United States    South  2015     71215554.0
9   United States    South  2016     84557466.0
10  United States    South  2017     97949519.0
11  United States    South  2018    154609409.0
12  United States     West  2015    263517437.0
13  United States     West  2016    206496769.0
14  United States     West  2017    334677177.0
15  United States     West  2018    642868538.0

# Chuyển thành pivot

In [193]:
#Chuyển thành pivot
df_selected_pivot= df_selected.pivot(index = (['Country','Region']), columns = 'Year', values = 'Running Total')

In [194]:
df_selected_pivot

Year                          2015         2016         2017         2018
Country       Region
United States Central  163032635.0  116730546.0  246776523.0  245924218.0
              East     167161818.0  265381179.0  305251974.0  448545448.0
              South     71215554.0   84557466.0   97949519.0  154609409.0
              West     263517437.0  206496769.0  334677177.0  642868538.0

In [195]:
#Lưu dữ liệu
data_output_path = 'D:\\DA\PhantichdulieuPython\\data_output\\'
data_output_name = 'output_processing_superstore_dataset.xlsx'

df_selected_pivot.to_excel(data_output_path + data_output_name, index = True)